*.js linguist-detectable=.cpp
*.html linguist-detectable=.cpp
*.css linguist-detectable=.cpp
*.tex linguist-detectable=.cpp
*.tmp linguist-detectable=.cpp
*.dot linguist-detectable=.cpp
*.sty linguist-detectable=.cpp
